# Object files
*.lo
*.o

# Fortran module files
*.mod

# Static libraries
*.la
*.a

# Executables
*.exe

# Logs
*.log

# Ignore netCDF files.
*.nc

# Ignore python bytecode files
*.pyc
buildnmlc

# Ignore emacs backup files
*~
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/auxiliary.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/auxvars_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/auxvars_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/auxvars_flow_energy.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/block_solve.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/block_tridiag.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/characteristic_curves.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/characteristic_curves_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/characteristic_curves_common.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/checkpoint.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/checkpoint_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/clm_rspfuncs.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/communicator_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/communicator_structured.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/communicator_unstructured.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/condition.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/condition_control.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/connection.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/convergence.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/coupler.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/data_mediator.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/data_mediator_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/data_mediator_dataset.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/data_mediator_vec.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_ascii.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_common_hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_global_hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_gridded_hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dataset_map_hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/debug.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/discretization.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/dm_kludge.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/eos.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/eos_database.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/eos_gas.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/eos_oil.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/eos_water.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/factory_pflotran.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/factory_subsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/factory_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/factory_surfsubsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/field.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/fluid.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/gas_eos_mod.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/generic.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/geometry.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/global.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/global_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_structured.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_unstructured.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_unstructured_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_unstructured_cell.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_unstructured_explicit.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/grid_unstructured_polyhedra.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/hdf5_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/hydrostatic.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/init_common.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/init_subsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/init_subsurface_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/init_subsurface_transport.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/init_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/inlinesurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/inlinesurface_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/input_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/integral_flux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/logging.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/lookup_table.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/material.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/material_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/matrix_block_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/matrix_buffer.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/multisimulation.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/observation.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/option.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/option_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/option_transport.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_common.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_ekg.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_hdf5.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_observation.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/output_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/patch.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pflotran_constants.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pflotran_provenance.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_auxiliary.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_base_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_base_pointer.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_rt.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_subsurface_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_surface_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_surface_th.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pm_th.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pmc_auxiliary.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pmc_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pmc_subsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pmc_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/pmc_third_party.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/preconditioner_cpr.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_database.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_database_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_database_hpt.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_gas.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_gas_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_immobile.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_immobile_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_mineral.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_mineral_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_degas.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_denitr.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_langmu.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_microbial.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_nitrif.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_plantn.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reaction_sandbox_somdec.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reactive_transport.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/reactive_transport_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/realization_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/realization_subsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/realization_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/region.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/regression.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/saturation.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/secondary_continuum.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/secondary_continuum_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/simulation_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/simulation_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/simulation_subsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/simulation_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/simulation_surfsubsurface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/solver.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/solver_cpr.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/spline.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/srcsink_sandbox.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/srcsink_sandbox_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/srcsink_sandbox_downreg.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/srcsink_sandbox_mass_rate.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/strata.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/string.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_auxiliary.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_field.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_flow.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_global.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_global_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_material.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_th.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/surface_th_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/th.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/th_aux.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/time_storage.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/timestepper_base.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/timestepper_BE.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/timestepper_steady.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/timestepper_surface.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/transport.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/transport_constraint.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/units.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/utility.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/variables.F90
components/clm/src/external_models/pflotran-interface/src/clm-pflotran/waypoint.F90
